# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Main

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v2
        with:
          version: '14'

      - uses: actions/cache@v2
        id: cache
        with:
          path: "node_modules"
          key: ${{ runner.os }}-v15-${{ hashFiles('frontend/yarn.lock') }}

      - name: Install chrome
        uses: browser-actions/setup-chrome@latest

      - name: Check installed chrome version
        run: chrome --version

      - name: Install yarn
        run: npm install -g yarn

     # - name: Add the version code
      #  run: echo "VUE_APP_VERSION=${GITHUB_SHA}" >> frontend/.env

     # - name: Generate the app
      #  run: cd frontend && yarn && yarn build

      - uses: cypress-io/github-action@v2
        with:
          working-directory: ./
        #  start: npx serve -s -l 8080 dist
          browser: chrome
          headless: true
          spec: cypress/integration/2-advanced-examples/*

        #  wait-on: 'http://localhost:8080'
          command-prefix: 'percy exec -- '
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

      - name: Upload failed screenshots
        uses: actions/upload-artifact@master
        if: failure()
        with:
          name: Failed Screenshots
          path: ./frontend/cypress/screenshots
         